
.upper_bar{
    width:100%;
    position: absolute;
    top: 13px;
    height:44px;
    z-index:1200;
    width: calc(100% - 45px);
    left: 45px;

}   

 .flag_container {
   display: flex;
   align-items: center;
   position: absolute;
   background: rgba(0, 0, 0, 0.65);
   height:100%;
   justify-content: space-between;
   margin: 0 auto;
 } 
 

 
 .flag_item {
   /* flex-basis: calc(50% - 20px);*/ /* Adjust based on margins */
   justify-content: center; /* Center items horizontally */
   align-items: center; /* Center items vertically */          
 }

 
 @media (max-width: 1000px) {
    .flag_container{
        width:100%;
        flex-direction: row;
    }
    .flag_item {
        flex-shrink: 1;         
      }
 
}

 .flag_image { 
   width: 8px;                /* Adjust the image size */
   height: 18px;
   margin-bottom:5px;
   margin-top: 2px;
   margin-left: 15px;
   margin-right: 3px;

 }
 
 .flag_text {
   font-size: 14px;
   letter-spacing: 0.1em; 
   font-family:Noto Sans Display;
   color:white;
   font-weight:400;
   margin-left: 3px;
   margin-right: 10px;

 }
 
 
 .marked_item {
     display:flex;
     border-bottom: 3px solid #FFFFFF; /* Apply a border only at the bottom */
     background: rgba(0, 0, 0, 0.25);
     height:100%;
     align-items: center; /* Add this line */

 }
 

         
 .habiben{
     width: 120px;
     height: 120px;
     position: absolute; 
     z-index: 1600;
     bottom: 10px;
     right: 10px; 
 } 
 @media (max-width: 1000px) {

    .habiben {
         display: none;
         width: 100px;
         height: 100px;
         position: absolute; 

         z-index: 1000;
         top: 5px;
         right: 5px; 
     }
 }
 .container_{
     font-family:Noto Sans Display;
     height:95px;
     position: fixed;
     bottom: 0;
     left: 0; 
     width: 100%; 
     background: rgba(0, 0, 0, 0.65); 
     color: white; 
     text-align: center;
     z-index: 1001;
     justify-content: space-between;
     display: flex;             /* Flexbox to align left and right sections */
     align-items: center;     /* Vertically center content */

 }
 @media (max-width: 1000px) {
    .container_{
        height:130px;
    }
}
 
 .name_title{
     font-size:24px;
     letter-spacing:0.1em;
     font-weight:600
 }
 @media (max-width: 1000px) {
     .name_title{
         font-size:16px;
         letter-spacing:0.1em;
         font-weight:600
     }
 }
 .bar1 {
     margin-left: 20px;
     text-align:left;
     font-size: 12px;
     width:600px;
 }
 
 .bar2 {
     display: none;
     margin-right: 20px;
     margin-top:10px;
 }

 @media (max-width: 1000px) {
     .bar2 {
         margin-right: 20px;
         margin-top:10px;
     }
 }

 /* The Close Button */
.close {
    width:32px;
    height:32px;
    opacity: 1.0;

  }
  
  .close:hover {
  }
  
  .close:focus {
    cursor: pointer;
  }

  .modalWindow {
    position: fixed;
    bottom: 103px;
    right: 0;
    padding: 10px;
    z-index:1500;
    display: none;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1000px) {
    .modalWindow {
        display: block;
    }
}

.hamidsarve {
    width:70px;
    display: none;
    letter-spacing: 0.15em;
    line-height:1.0;
    font-family:Noto Sans Display;
    color:white;
    font-size: 12px;
    text-align: right; /* Add this line to right align the text */

  }

.remaining {
   
    flex-grow: 1;
    display:none;

    padding-right:10px;
    justify-content: flex-end;
    background-color;red;

}
  @media (max-width: 1000px) {
    .remaining {
        display: flex;
    }
    .hamidsarve {
        display: block;
    }
}
.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  display: flex;

}

 .flag_container_index {
   display: flex;
   align-items: center; /* Center items vertically */     
   background: rgba(0, 0, 0, 0.65);
   justify-content: center; /* Center items horizontally */
 } 
 

 .flag_item_index {
   display:flex;
   align-items: center; /* Center items vertically */     
   width: 250px; /* Adjust this value as needed */
   flex-direction: row; /* Ensure horizontal layout */
   justify-content: center; /* Center items horizontally */

 }


 .flag_image_index { 
   width: 12px;                /* Adjust the image size */
   height: 22px;

   margin-left: 15px;
   margin-right: 7px;

 }
 
 .flag_text_index {
   font-size: 18px;
   letter-spacing: 0.1em; 
   font-family:Noto Sans Display;
   color:white;
   font-weight:400;
   margin-left: 3px;
   margin-right: 10px;

 }

 .centered_index{
   display:flex;
   align-items: center; /* Center items vertically */     

}

 

 .welcome_text_div {
   font-size: 22px;
   letter-spacing: 0.1em; 
   font-family:Noto Sans Display;
   color:white;
   font-weight:400;
   margin-left: 3px;
   margin-right: 10px;
   margin-bottom:20px;
   width:800px;    
   text-align: center;
   justify-content: center;
   display: flex;
 }


  
 a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-family:Noto Sans Display;
    color: white; 

  }
  
.centered_index:hover{
    color: #f5e66e;
    text-decoration: none;

}

  a:hover, a.flag_text:hover, centered_index:hover{
     color: #f5e66e;
     text-decoration: none;

 }

